Meta
doc
docs
src-*
src/*.o
src/*.so
src/*.dll
.Rdata
.Rprofile
*.aux
*.def
*.gcno
*.knit.md
*.log
*.out
*.Rhistory
*.site
*.utf8.md
/* *.Rd */
revdep/
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
vignettes/*_cache
vignettes/*.R
.Rproj.user
*.Rcheck**
*.tar.gz
*.bak
codecov.yml
