Meta
doc
src-*
src/*.o
src/*.so
src/*.dll
.Rdata
.Rprofile
*.gcno
*.out
*.Rhistory
*.log
/* *.Rd */
revdep/
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
vignettes/*_cache
*.Rproj*
.Rproj.user
*.site
