src-*
src/*.o
src/*.so
src/*.dll
.Rdata
.Rprofile
*.gcno
*.out
*.Rhistory
*.out
*.log
/* *.Rd */
inst/ape
inst/doc
revdep/
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
*.Rproj*
.Rproj.user
*.site
