# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: mem-check

jobs:
  mem-check:
    runs-on: ubuntu-20.04

    name: valgrind, ubuntu-20.04, R release

    strategy:
      fail-fast: false

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: https://packagemanager.rstudio.com/cran/__linux__/focal/latest
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: release

      - name: Install valgrind
        run: sudo apt-get install valgrind texlive-latex-base

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')

      - name: Install dependencies
        run: |
          remotes::install_github("KlausVigo/phangorn")
          remotes::install_github("ms609/TreeTools") # Use latest TreeTools, whilst testing 2021-01
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
        shell: Rscript {0}
        
     - name: Install TreeTools
       run: |
         cd ..
         R CMD build --no-manual --no-resave-data TreeTools
         R CMD INSTALL TreeDist*.tar.gz
         cd TreeTools

      - name: valgrind - memcheck tests
        run: |
          R -d "valgrind --tool=memcheck --leak-check=full" --vanilla < tests/memcheck-tests.R
      
      - name: valgrind - memcheck examples
        run: |
          R -d "valgrind --tool=memcheck --leak-check=full" --vanilla < tests/memcheck-examples.R
      
      - name: valgrind - memcheck vignettes
        run: |
          R -d "valgrind --tool=memcheck --leak-check=full" --vanilla < tests/memcheck-vignettes.R
        
      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-rrelease-valgrind-results
          path: check
