# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  schedule:
    - cron: "24 06 * * 1"
  push:
    branches:
      - main
      - master
    paths-ignore:
      - "Meta**"
      - "memcheck**"
      - "docs**"
      - "**.git"
      - "**.json"
      - "**.md"
      - "**.yml"
      - "!**R-CMD-check.yml"
      - "**.R[dD]ata"
      - "**.Rpro*"
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - "Meta**"
      - "memcheck**"
      - "docs**"
      - "**.git"
      - "**.json"
      - "**.md"
      - "**.yml"
      - "!**R-CMD-check.yml"
      - "**.R[dD]ata"
      - "**.Rpro*"

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-22.04, r: '3.6', rspm: "https://packagemanager.rstudio.com/cran/__linux__/jammy/latest"}
          - {os: ubuntu-latest, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/noble/latest"}
          - {os: ubuntu-latest, r: 'devel', rspm: "https://packagemanager.rstudio.com/cran/__linux__/noble/latest"}

    env:
      _R_CHECK_CRAN_INCOMING_: true # Seemingly not set by --as-cran
      _R_CHECK_FORCE_SUGGESTS_: false # CRAN settings
      R_COMPILE_AND_INSTALL_PACKAGES: 'never'
      _R_CHECK_THINGS_IN_CHECK_DIR_: false
      R_REMOTES_STANDALONE: true
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          extra-repositories: https://ms609.github.io/packages/

      - name: Install apt packages (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-latex-base libglpk-dev texlive-fonts-recommended
        
      - name: Set up R dependencies (R 3.6)
        if: matrix.config.r == '3.6'
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          # Guesses: Umatrix; uwot
          extra-packages: |
            clock@0.7.2
            recipes@1.1.0
            svglite@2.1.3
            scales@1.3.0
            purrr@1.0.2
            magick@2.8.5
            bench@1.1.3
            hardhat@1.4.0
            dotCall64@1.1-1
            spam@2.10-0
            waldo@0.5.3
            testthat@3.2.1
            vdiffr@1.0.7
            cpp11@0.5.0
            httr2@1.0.1
            downlit@0.4.3
            pkgdown@2.0.9
            profvis@0.3.8
            gtable@0.3.5
            Matrix@1.6-5
            RcppAnnoy@0.0.14
            RcppGSL@0.3.8
            RcppZiggurat@0.1.5
            uwot@0.1.8
            Umatrix@3.3
            hypervolume@3.1.1
            actuar@2.3-3
            evaluate@0.23
            fastICA@1.2-1
            FNN@1.1.3.2
            knitr@1.45
            phangorn@2.7.1
            TreeSearch@1.5.1
            Rfast@1.9.8
            rjson@0.2.20
            XML@3.99-0.3
          needs: |
            check

      - name: Set up R dependencies (Windows)
        if: runner.os == 'Windows'
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            ms609/TreeDistData
          needs: |
            check
            coverage
            
      - name: Set up R dependencies (Non-Windows)
        if: runner.os != 'Windows' && matrix.config.r != '3.6'
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            RcppCore/Rcpp
            ms609/TreeTools
            ms609/TreeDistData
            phangorn=?ignore-before-r=4.4.0
            ggplot2=?ignore-before-r=4.4.0
            hypervolume=?ignore-before-r=4.4.0
            kdensity=?ignore-before-r=4.4.0
            Rogue=?ignore-before-r=4.4.0
            TreeSearch=?ignore-before-r=4.4.0
            Umatrix=?ignore-before-r=4.4.0
            uwot=?ignore-before-r=4.4.0
          needs: |
            check

      - name: Set up pandoc
        uses: r-lib/actions/setup-pandoc@v2
        
      - name: Check with incoming checks (PR)
        if: github.event_name == 'pull_request'
        uses: r-lib/actions/check-r-package@v2

      - name: Check without incoming checks (push/schedule)
        if: github.event_name == 'push' || github.event_name == 'schedule'
        uses: r-lib/actions/check-r-package@v2
        with:
          check_args: "--no-incoming-check"

      - name: Code coverage
        if: runner.os == 'Windows'
        run: covr::codecov()
        shell: Rscript {0}
